* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapp{
    width: 100%;
    height: 100vh;
    background-color: #3A3330;
}
    .enter{
        width: 380px;
        height: 570px;
        background-color:#2E2826 ;
        border-radius: 20px;
        position: absolute ;
        left: 38%;
        top: 50%;
       transform: translateX(-38%);
    transform: translateY(-50%);
}
.m-b{
    margin: 0 auto;
    font-size: 20px;
    
}
.first{
    background-image: url(../img/zero_sugar.png);
    background-size: cover;
    // position: absolute;
    // left: 40%;
    // top: 5%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px auto;
}
.m-b{
    color: lightgrey;
    margin: 0 auto;
    width: 50%;
}
.info-auth{
    width: 300px;
    margin: 20px auto;
    .small{
        font-size: large;
        color: gray;
    }
    .number{
        
        background-color: #2E2826;
        margin: 10px auto;
        border-color: transparent;
        font-size:25px ;
        outline: none;
    }
    .blue{
        color: blue;
        text-decoration: underline transparent;
        .dd{
            margin: 20px auto;
            font-size: 17px;
            
        }
    }

}
.btns{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .br{
        width: 300px;
        height: 50px;
        border-radius: 15px;
        margin: 5px auto;
       border-color: transparent;
       font-size: larger    ;
    }
    .btn-1{
        color: white;
        border: #D36933 2px solid;
        background-color: transparent;
        transition: 800ms;
    }
    .btn-1:hover{
        background-color: #D36933;
    }
     .btn-2{
         color: bisque ;
         background-color: transparent;
         border: solid 2px lightgrey ;
         transition: 800ms;
        }
         .btn-2:hover{
             color: darkgoldenrod;
             background-color: #3C3B3F;
         }
    }
.footer{
    text-align: center;
    width: 100%;
    margin: 10px auto;
    p{
        color: blue;
        font-size: larger;
        margin-top: 50px;
    }
    .foot-icons{
        width: 300px;
        display: flex;
        margin: 20px auto;
        justify-content: space-between;
    }
.txt{
    margin-top: 3px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.m-l{
    opacity: 0.5;
    transition: 900ms;
}
.m-l:hover{
    opacity: 1;
}
.gr:hover{
    filter: invert(1);
}
}

.exit{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 37%;
    z-index: 1;
    background-color: rgba(150, 106, 11, 0.445);
    border-color: transparent;
    box-shadow: 0px 0px 10px lightgoldenrodyellow;
    transition: 800ms;
}

.im-left{
    filter: invert(1);
}
.exit:hover{
    background-color: coral;
}

    
    

